In [1]:
#import the dependencies
import pandas as pd
from path import Path
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
#read the file
file_path = Path("../Resources/beauty_habits_clean.csv")
df=pd.read_csv(file_path, usecols=["id", "brand", "name", "category", "rating", "number_of_reviews", "love", "price", "online_only", "exclusive", "limited_edition", "good_rating"])
df

,id,brand,category,name,rating,number_of_reviews,love,price,online_only,exclusive,limited_edition,good_rating
0,2218774,Acqua Di Parma,Fragrance,Blu Mediterraneo MINIATURE Set,4.0,4,3002,66.0,1,0,0,True
1,2044816,Acqua Di Parma,Cologne,Colonia,4.5,76,2700,66.0,1,0,0,True
2,1417567,Acqua Di Parma,Perfume,Arancia di Capri,4.5,26,2600,180.0,1,0,0,True
3,1417617,Acqua Di Parma,Perfume,Mirto di Panarea,4.5,23,2900,120.0,1,0,0,True
4,2218766,Acqua Di Parma,Fragrance,Colonia Miniature Set,3.5,2,943,72.0,1,0,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...
9163,2208502,SEPHORA COLLECTION,Face Masks,The Rose Gold Mask,2.0,15,6200,6.0,0,1,1,False
9164,2298909,SEPHORA COLLECTION,Lip Sets,Give Me Some Sugar Colorful Gloss Balm Set,0.0,0,266,15.0,0,1,0,False
9165,2236750,SEPHORA COLLECTION,Tinted Moisturizer,Weekend Warrior Tone Up Cream,0.0,0,445,16.0,0,1,0,False
9166,50,SEPHORA COLLECTION,no category,Gift Card,5.0,46,0,50.0,0,0,0,True
9167,304,SEPHORA COLLECTION,no category,Happy Birthday Gift Card,0.0,0,0,50.0,0,0,0,False

In [3]:
#apply a label encoder to the "good rating" column to make it numerical True==1
le = LabelEncoder()
df['good_rating'] = le.fit_transform(df['good_rating'])

In [4]:
#Create X
X = df.copy()
X

,id,brand,category,name,rating,number_of_reviews,love,price,online_only,exclusive,limited_edition,good_rating
0,2218774,Acqua Di Parma,Fragrance,Blu Mediterraneo MINIATURE Set,4.0,4,3002,66.0,1,0,0,1
1,2044816,Acqua Di Parma,Cologne,Colonia,4.5,76,2700,66.0,1,0,0,1
2,1417567,Acqua Di Parma,Perfume,Arancia di Capri,4.5,26,2600,180.0,1,0,0,1
3,1417617,Acqua Di Parma,Perfume,Mirto di Panarea,4.5,23,2900,120.0,1,0,0,1
4,2218766,Acqua Di Parma,Fragrance,Colonia Miniature Set,3.5,2,943,72.0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9163,2208502,SEPHORA COLLECTION,Face Masks,The Rose Gold Mask,2.0,15,6200,6.0,0,1,1,0
9164,2298909,SEPHORA COLLECTION,Lip Sets,Give Me Some Sugar Colorful Gloss Balm Set,0.0,0,266,15.0,0,1,0,0
9165,2236750,SEPHORA COLLECTION,Tinted Moisturizer,Weekend Warrior Tone Up Cream,0.0,0,445,16.0,0,1,0,0
9166,50,SEPHORA COLLECTION,no category,Gift Card,5.0,46,0,50.0,0,0,0,1
9167,304,SEPHORA COLLECTION,no category,Happy Birthday Gift Card,0.0,0,0,50.0,0,0,0,0

In [5]:
# Define the features set.
X = X.drop(["id","category", "brand","name", "rating", "good_rating"], axis=1)
X.head()

   number_of_reviews  love  price  online_only  exclusive  limited_edition
0                  4  3002   66.0            1          0                0
1                 76  2700   66.0            1          0                0
2                 26  2600  180.0            1          0                0
3                 23  2900  120.0            1          0                0
4                  2   943   72.0            1          0                0

In [6]:
# Define the target set.
y = df["good_rating"].ravel()
y[:5]

array([1, 1, 1, 1, 0])

In [7]:
#Train/test/split data
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)

In [8]:
#create the model
classifier = LogisticRegression(solver='lbfgs', random_state=1)
classifier

LogisticRegression(random_state=1)

In [9]:
# Train the data
classifier.fit(X_train, y_train)

LogisticRegression(random_state=1)

In [10]:
# Predict outcomes for test data set
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

      Prediction  Actual
0              1       1
1              1       1
2              1       0
3              1       1
4              1       1
...          ...     ...
2287           1       0
2288           1       1
2289           1       1
2290           1       1
2291           1       1

[2292 rows x 2 columns]

In [11]:
#assess accuracy
accuracy_score(y_test, predictions)

0.7910122164048866